body {
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
}

.calc-out-put-cont{
    
    .theme-label {
        font-size: 1rem;
    }
}

.calc-input-cont {
    .wrapper {
        .reset-btn{
            font-size: 1.5rem;
        }
        .del-btn {
            font-size: 1.2rem;
        }
        .calc-btn {
            font-size: 1.25rem;
        }
        
    }
}